interface Loopback0
 ip address {{ ansible_host }} 255.255.255.255
!
interface Port-channel11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
!
interface Ethernet0/0
 description Naar R1
 no switchport
 ip address 172.18.1.2 255.255.255.248
 ip ospf 100 area 0
!
interface Ethernet0/1
 description Naar R2
 no switchport
 ip address 172.18.1.26 255.255.255.248
 ip ospf 100 area 0
!         
interface Ethernet0/2
 shutdown
 duplex auto
!
interface Ethernet0/3
 shutdown
 duplex auto
!
interface Ethernet1/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
 channel-group 11 mode active
!
interface Ethernet1/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
 channel-group 11 mode active
!
interface Ethernet1/2
 duplex auto
!
interface Ethernet1/3
 duplex auto
!
interface Ethernet2/0
 description Uplink-b1-accsw01
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 30
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet2/1
 description Naar b1-accsw02
 no switchport
 ip address 172.18.2.5 255.255.255.252
 ip ospf network point-to-point
 ip ospf 100 area 2
!
interface Ethernet2/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet2/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet3/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet3/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet3/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet3/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet4/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet4/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet4/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet4/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!         
interface Ethernet5/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet5/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet5/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet5/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet6/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet6/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet6/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet6/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet7/0
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet7/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet7/2
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet7/3
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 999
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Vlan10
 ip address 172.18.10.1 255.255.254.0
 ip helper-address 172.16.0.11
!
interface Vlan20
 ip address 172.18.20.1 255.255.254.0
 ip helper-address 172.16.0.11
!         
interface Vlan30
 ip address 172.18.30.1 255.255.254.0
 ip helper-address 172.16.0.11
!
interface Vlan40
 ip address 172.18.40.1 255.255.254.0
 ip helper-address 172.16.0.11
!
interface Vlan50
 ip address 172.18.50.1 255.255.254.0
 ip helper-address 172.16.0.11
!
