service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service compress-config
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
enable secret {{ device_enable_secret }}
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
clock timezone {{ time_zone_name }}
clock summer-time CET recurring {{ time_zone_st_start}} {{ time_zone_st_end }}
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!         
!
!
no ip domain lookup
ip domain name {{ domain_name }}
ip cef
login on-failure log
login on-success log
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
username {{ device_ssh_user }} privilege 15 secret {{ device_ssh_password }}
!
redundancy
!
!
ip ssh maxstartups 4
ip ssh time-out 60
ip ssh authentication-retries {{ ssh_max_auth }}
ip ssh source-interface {{ management_interface }}
ip ssh version {{ ssh_version }}
!
class-map match-all CLASS-VOICE
 match access-group name ACL-VOICE
class-map match-all CLASS-APPS
 match access-group name ACL-VOICE
!
policy-map PMAP-QUEUE
 class CLASS-VOICE
  priority percent 10
 class CLASS-APPS
  bandwidth percent 80 
  fair-queue
 class class-default
  fair-queue
policy-map PMAP-SHAPING
 class class-default
  shape average percent 98
   service-policy PMAP-QUEUE
!
!
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address {{ l3_intf[inventory_hostname]['Loopback0'] | ipaddr('address') }} {{ l3_intf[inventory_hostname]['Loopback0'] | ipaddr('netmask') }}
!
{% for interface in interfaces | sort %}
interface {{ interface }}
{% for option in interfaces[interface] %}
 {{ option }}
{% endfor %}
!
{% endfor %}
router ospf {{ ospf['processid'] }}
 router-id {{ l3_intf[inventory_hostname]['Loopback0'] | ipaddr('address') }}
{% for option in ospf.global %}
 {{ option }}
{% endfor %}
{% for interface in ospf_intf_list[inventory_hostname] %}
  no passive-interface {{ interface }}
{% endfor %}
!
router bgp {{ site_ASN }}
 bgp router-id {{ l3_intf[inventory_hostname]['Loopback0'] | ipaddr('address') }}
 bgp log-neighbor-changes
 network {{ l3_intf[inventory_hostname]['Loopback0'] | ipaddr('address') }} mask 255.255.255.255
 aggregate-address {{ site_summary_subnet | ipaddr('network') }} {{ site_summary_subnet | ipaddr('netmask') }}

 {%- if inventory_hostname in ebgp_peers %}
  {%- for neighbor_ip in ebgp_peers[inventory_hostname] %}
    {%- for option in ebgp_peers[inventory_hostname][neighbor_ip] %}
 
 neighbor {{ neighbor_ip }} {{ option }}
    {% endfor -%}
  {% endfor -%}
 {% endif -%}
!
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
ip access-list extended ACL-APPS
 permit tcp any any eq 3200
 permit tcp any any eq 3300
 permit tcp any any eq 3600
 permit tcp any any eq 389
 permit tcp any any eq 390
 permit tcp any any eq 3268
 permit tcp any any eq 3269
 permit tcp any any eq 993
 permit tcp any any eq pop3
ip access-list extended ACL-VOICE
 permit udp any any range 16384 32767
!
!
ip prefix-list PL-ALL-LOOPBACKS seq 5 permit 0.0.0.0/0 ge 32
logging trap notifications
logging source-interface {{ management_interface }}
logging host {{ syslog_server }}
!
route-map RM-BGP-FROM-SUMMARY permit 10
 match tag 210
 set community 131072 196608
!
route-map RM-BGP-FALLOVER permit 10
 match ip address prefix-list PL-ALL-LOOPBACKS
!
route-map RM-BGP-FROM-STATIC permit 10
 match tag 110
 set community 131073 196609
!
route-map RM-BGP-PREPEND-OUT permit 10
 set as-path prepend {{ site_ASN }} {{ site_ASN }} {{ site_ASN }} {{ site_ASN }} {{ site_ASN }} {{ site_ASN }} {{ site_ASN }}
!
snmp-server community {{ snmp_ro_community }} RO
snmp-server trap-source {{ management_interface }}
snmp-server contact {{ snmp_contact }}
{% for server in snmp_servers %}
snmp-server host {{ server.ip }} {{ server.community }}
{% endfor %}
snmp ifmib ifindex persist
!
!
!
!
control-plane
!
!
!
!
!
!
!
!
line con 0
 exec-timeout 30 0
 logging synchronous
line aux 0
line vty 0 4
 exec-timeout 30 0
 password 7 141B1D0C050A
 transport input {{ vty_transport_input }}
!
ntp source {{ management_interface }}
ntp update-calendar
ntp server {{ ntp_server_1 }}
end
