service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
no enable secret
!
username cisco privilege 15 password cisco
username yaworks privilege 15 secret admin
username {{ device_ssh_user }}  privilege 15 secret {{ device_ssh_password }}
aaa new-model
!
!         
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
clock timezone CET 1 0
clock summer-time CET recurring last Sun Mar 2:00 last Sun Oct 3:00
!
ip cef
!
!
no ip domain-lookup
ip domain-name {{ domain_name }}
login on-failure log
login on-success log
no ipv6 cef
ipv6 multicast rpf use-bgp
!
!
!         
!
!
!
!
spanning-tree mode pvst
spanning-tree extend system-id
!
!
!
!
vlan internal allocation policy ascending
!
! 
!
!
!
!
!         
!
!
!
interface Loopback0
 ip address {{ ansible_host }} 255.255.255.255
!
interface Ethernet0/0
 no ip address
!
interface Ethernet0/1
 no ip address
!         
interface Ethernet0/2
 no ip address
 shutdown
!
interface Ethernet0/3
 no ip address
 shutdown
!
interface Ethernet1/0
 no ip address
 no shutdown
!
interface Ethernet1/0.{{ uplink_vlan}}
 encapsulation dot1Q {{ uplink_vlan}}
 ip address {{ uplink_ip }} {{ uplink_sn }}
!
interface Ethernet1/1
 no ip address
 shutdown
!
interface Ethernet1/2
 no ip address
 shutdown 
!
interface Ethernet1/3
 no ip address
 shutdown
!
router ospf 100
 router-id {{ ansible_host }}
 network 0.0.0.0 255.255.255.255 area 0
!!
ip default-gateway {{ def_gateway }}
!
no ip http server
!
ip route 0.0.0.0 0.0.0.0 {{ def_gateway }}
!
!
!
!
!
!
control-plane
!
!
line con 0
 exec-timeout 30 0
 logging synchronous
line aux 0
line vty 0 4
 exec-timeout 30 0
 password admin
 transport input telnet ssh
!
!
crypto key generate rsa modulus 2048
end
