service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
no enable secret
!
username cisco privilege 15 password cisco
username yaworks privilege 15 secret admin
username {{ device_ssh_user }}  privilege 15 secret {{ device_ssh_password }}
aaa new-model
!
!         
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
clock timezone CET 1 0
clock summer-time CET recurring last Sun Mar 2:00 last Sun Oct 3:00
!
ip cef
!
!
no ip domain-lookup
ip domain-name {{ domain_name }}
login on-failure log
login on-success log
no ipv6 cef
ipv6 multicast rpf use-bgp
!
!
crypto key generate rsa modulus 2048
!         
!
!
!
!
spanning-tree mode pvst
spanning-tree extend system-id
!
!
!
!
vlan internal allocation policy ascending
!
{% for vlan in vlans %}
vlan {{ vlan.vlan_id }}
 name {{ vlan.vlan_name }}
{% endfor %}
! 
!
!
!
!
!         
!
!
!
interface Loopback0
 ip address {{ loopback_ip }} 255.255.255.255
!
{% for uplink in uplinks %}
interface {{ uplink.my_port }}
 description {{ uplink.desc }} - {{ uplink.remote_port }} - {{ uplink.remote_ip }}
 no switchport
 ip address {{ uplink.my_ip | ipaddr('address') }} {{ uplink.my_ip | ipaddr('netmask') }}
 no shutdown
{% if uplink.ospf_area is defined %}
 ip ospf 100 area {{ uplink.ospf_area }}
{% endif %}
{% endfor %}
!
{% if inventory_hostname in groups['core-switches'] %}
router ospf {{ ospf.processid }}
 router-id {{ loopback_ip }} 
 network 0.0.0.0 255.255.255.255 area {{ ospf.ospf_area_default }}
 no passive-interface default
{% else %}
router ospf {{ ospf.processid }}
 router-id {{ loopback_ip }}
 network 0.0.0.0 255.255.255.255 area {{ ospf.ospf_area_intern }}
{% endif %}
!
ip default-gateway {{ def_gateway }}
!
no ip http server
!
ip route 0.0.0.0 0.0.0.0 {{ def_gateway }}
!
!
!
!
Interface Vlan 30
 ip address {{ management_ip }} 255.255.255.0
 no shut
!
!
control-plane
!
!
line con 0
 exec-timeout 30 0
 logging synchronous
line aux 0
line vty 0 4
 exec-timeout 30 0
 password admin
 transport input telnet ssh
!
!
end
