service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service compress-config
!
hostname b1-accsw01
!
boot-start-marker
boot-end-marker
!
!
!
username cisco privilege 15 secret 4 tnhtc92DXBhelxjYk8LWJrPV36S2i4ntXrpb4RFmfqY
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
clock timezone ACST 9 30
no ipv6 cef
ipv6 multicast rpf use-bgp
vtp mode transparent
!
no ip domain-lookup
ip domain-name yaworks.demo
ip cef
!
!
login on-failure log
login on-success log
!
!
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
!
!
!
vlan internal allocation policy ascending
!
vlan 10
 name DATA
!
vlan 20
 name VOICE
!
vlan 30
 name MGMT
!
vlan 40
 name PRINTER
!
vlan 50
 name WLAN
!
vlan 999
 name UNUSED
!
ip ssh maxstartups 4
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh source-interface Vlan30
ip ssh version 2
! 
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 10.199.18.21 255.255.255.255
!
interface Ethernet0/0
 no switchport
 ip address 172.18.2.2 255.255.255.252
!
interface Ethernet0/1
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 30
 switchport trunk allowed vlan 10-50
 switchport mode trunk
 duplex auto
!
interface Ethernet0/2
 duplex auto
!
interface Ethernet0/3
 duplex auto
!
interface Ethernet1/0
 duplex auto
!
interface Ethernet1/1
 duplex auto
!
interface Ethernet1/2
 duplex auto
!
interface Ethernet1/3
 duplex auto
!
interface Ethernet2/0
 switchport access vlan 10
 switchport mode access
 switchport voice vlan 20
 duplex auto
!
interface Ethernet2/1
 switchport access vlan 10
 switchport mode access
 switchport voice vlan 20
 duplex auto
!
interface Ethernet2/2
 switchport access vlan 10
 switchport mode access
 switchport voice vlan 20
 duplex auto
!
interface Ethernet2/3
 duplex auto
!
interface Ethernet3/0
 switchport access vlan 30
 switchport mode access
 duplex auto
!
interface Ethernet3/1
 switchport access vlan 30
 switchport mode access
 duplex auto
!
interface Ethernet3/2
 switchport access vlan 30
 switchport mode access
 duplex auto
!
interface Ethernet3/3
 duplex auto
!
interface Ethernet4/0
 switchport access vlan 40
 switchport mode access
 duplex auto
!
interface Ethernet4/1
 switchport access vlan 40
 switchport mode access
 duplex auto
!
interface Ethernet4/2
 switchport access vlan 40
 switchport mode access
 duplex auto
!
interface Ethernet4/3
 duplex auto
!
interface Ethernet5/0
 switchport access vlan 50
 switchport mode access
 duplex auto
!
interface Ethernet5/1
 switchport access vlan 50
 switchport mode access
 duplex auto
!
interface Ethernet5/2
 switchport access vlan 50
 switchport mode access
 duplex auto
!
interface Ethernet5/3
 duplex auto
!
interface Ethernet6/0
 duplex auto
!
interface Ethernet6/1
 duplex auto
!
interface Ethernet6/2
 duplex auto
!
interface Ethernet6/3
 duplex auto
!
interface Ethernet7/0
 duplex auto
!
interface Ethernet7/1
 duplex auto
!
interface Ethernet7/2
 duplex auto
!
interface Ethernet7/3
 duplex auto
!
interface Vlan10
 ip address 172.18.101.1 255.255.255.128
!
interface Vlan20
 ip address 172.18.101.129 255.255.255.128
!
interface Vlan30
 ip address 172.18.30.21 255.255.254.0
!
router ospf 100
 router-id 10.199.18.21
 passive-interface default
 no passive-interface Ethernet0/0
 network 0.0.0.0 255.255.255.255 area 2
!         
ip default-gateway 172.18.30.1
!
no ip http server
!
!
logging trap notifications
logging source-interface Vlan30
logging host 172.16.0.11
!
!
snmp-server community RO_COMMUNITY RO
snmp-server trap-source Vlan30
snmp-server contact admin@yaworks.demo
snmp-server host 10.0.1.98 public 
snmp ifmib ifindex persist
!
!
!
control-plane
!
!
line con 0
 exec-timeout 30 0
 logging synchronous
line aux 0
line vty 0 4
 exec-timeout 30 0
 transport input telnet ssh
!
ntp source Vlan30
ntp update-calendar
ntp server 172.16.0.12
end


